body {
    display: flex;
    flex-direction: column;
    background-image: url('../Imagens/fundo ufc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    margin-top: 3rem;
    margin-bottom: -7rem;
    text-align: center;
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    color: wheat;
}

main {
    flex: 1;
    color: wheat;
    font-size: 60px;
    padding: 200px;
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.555);
    color: wheat;
    border-radius: 1.6rem;
}
button:hover{
    transition: 0.6s;
    background-color: red;
}